In [1]:
import pandas as pd
from geopy.distance import geodesic

In [197]:
on_faults = pd.read_csv('data/J1939Faults.csv')
diagnostic = pd.read_csv('data/VehicleDiagnosticOnboardData.csv')
fault_code = pd.read_excel('data/Service Fault Codes_1_0_0_167.xlsx')

C:\Users\tjsim\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\tjsim\Anaconda\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [27]:
lat1 = 36.0666667
lon1 = -86.4347222
lat_long = on_faults[['Latitude', 'Longitude']]

point1 = (lat1, lon1)
distances = []

for index, row in lat_long.iterrows():
    point2 = (row['Latitude'], row['Longitude'])
    distance = geodesic(point1, point2).mi
    distances.append(distance)

on_faults['Distance_A'] = distances

In [29]:
lat1 =  35.5883333
lon1 = -86.4438888
lat_long = on_faults[['Latitude', 'Longitude']]

point1 = (lat1, lon1)
distances = []

for index, row in lat_long.iterrows():
    point2 = (row['Latitude'], row['Longitude'])
    distance = geodesic(point1, point2).mi
    distances.append(distance)

on_faults['Distance_B'] = distances

In [31]:
lat1 =  36.1950 
lon1 =  -83.174722
lat_long = on_faults[['Latitude', 'Longitude']]

point1 = (lat1, lon1)
distances = []

for index, row in lat_long.iterrows():
    point2 = (row['Latitude'], row['Longitude'])
    distance = geodesic(point1, point2).mi
    distances.append(distance)

on_faults['Distance_C'] = distances

In [323]:
on_faults = pd.read_csv('data/on_faults.csv')

C:\Users\tjsim\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [324]:
on_faults = on_faults.drop(columns=({'faultValue','actionDescription'}))

In [325]:
on_faults = on_faults.drop(on_faults.columns[0], axis =1)

In [326]:
full_derates = on_faults.loc[on_faults['spn'] == 5246]

In [327]:
full_derates = pd.merge(full_derates, diagnostic, left_on = 'RecordID', right_on = 'FaultId')#.drop(columns = ['Id', 'FaultId'])

In [328]:
full_derates = full_derates.loc[full_derates['EquipmentID'].astype(str).str.len() <= 5]

In [329]:
full_derates = full_derates.loc[full_derates['active'] == True].reset_index(drop = True)

In [330]:
full_derates = full_derates.drop(columns = ('eventDescription'))

In [331]:
full_derates = full_derates.drop(full_derates[(full_derates['Distance_A'] <= 0.5) | 
                                               (full_derates['Distance_B'] <= 0.5) | 
                                               (full_derates['Distance_C'] <= 0.5)].index)

In [332]:
full_derates

,RecordID,ESS_Id,EventTimeStamp,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,...,Latitude,Longitude,LocationTimeStamp,Distance_A,Distance_B,Distance_C,Id,Name,Value,FaultId
4,2090,1011009,2015-02-23 05:05:44.000,05290170*03015749*051914190353*09400015*G1*BDR*,79642446,6X1u13D1500000000,CMMNS,0,5246,0,...,40.733009,-74.087777,2015-02-23 05:08:23.000,742.525308,759.695527,583.314919,17736,IgnStatus,False,2090
5,2090,1011009,2015-02-23 05:05:44.000,05290170*03015749*051914190353*09400015*G1*BDR*,79642446,6X1u13D1500000000,CMMNS,0,5246,0,...,40.733009,-74.087777,2015-02-23 05:08:23.000,742.525308,759.695527,583.314919,17737,FuelLtd,33470.466902374,2090
6,2090,1011009,2015-02-23 05:05:44.000,05290170*03015749*051914190353*09400015*G1*BDR*,79642446,6X1u13D1500000000,CMMNS,0,5246,0,...,40.733009,-74.087777,2015-02-23 05:08:23.000,742.525308,759.695527,583.314919,17738,EngineTimeLtd,4645.45,2090
7,2090,1011009,2015-02-23 05:05:44.000,05290170*03015749*051914190353*09400015*G1*BDR*,79642446,6X1u13D1500000000,CMMNS,0,5246,0,...,40.733009,-74.087777,2015-02-23 05:08:23.000,742.525308,759.695527,583.314919,17739,LampStatus,22527,2090
8,2972,1026305,2015-02-23 15:54:22.000,unknown,unknown,unknown,unknown,0,5246,0,...,28.077361,-81.897083,2015-02-23 15:54:58.000,611.269015,582.335302,564.311812,25574,IgnStatus,True,2972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10968,1242137,121038018,2020-02-14 11:21:54.000,NaN,NaN,NaN,NaN,49,5246,19,...,38.349490,-85.708425,2020-02-14 11:22:30.000,162.440819,194.701771,203.877088,12803378,CruiseControlActive,False,1242137
10969,1242137,121038018,2020-02-14 11:21:54.000,NaN,NaN,NaN,NaN,49,5246,19,...,38.349490,-85.708425,2020-02-14 11:22:30.000,162.440819,194.701771,203.877088,12803379,CruiseControlSetSpeed,0,1242137
10970,1242137,121038018,2020-02-14 11:21:54.000,NaN,NaN,NaN,NaN,49,5246,19,...,38.349490,-85.708425,2020-02-14 11:22:30.000,162.440819,194.701771,203.877088,12803380,EngineCoolantTemperature,17.6,1242137
10971,1242137,121038018,2020-02-14 11:21:54.000,NaN,NaN,NaN,NaN,49,5246,19,...,38.349490,-85.708425,2020-02-14 11:22:30.000,162.440819,194.701771,203.877088,12803381,ParkingBrake,True,1242137
10972,1242137,121038018,2020-02-14 11:21:54.000,NaN,NaN,NaN,NaN,49,5246,19,...,38.349490,-85.708425,2020-02-14 11:22:30.000,162.440819,194.701771,203.877088,12803382,DistanceLtd,334736.2,1242137

In [333]:
full_derates['location_time_stamp'] = pd.to_datetime(full_derates['LocationTimeStamp'])

In [334]:
full_derates['location_date'] = full_derates['location_time_stamp'].dt.date

In [335]:
full_derates['location_time'] = full_derates['location_time_stamp'].dt.time

In [336]:
full_derates = full_derates.drop(columns =(['location_time_stamp', 'LocationTimeStamp']))

In [337]:
full_derates

,RecordID,ESS_Id,EventTimeStamp,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,...,Longitude,Distance_A,Distance_B,Distance_C,Id,Name,Value,FaultId,location_date,location_time
4,2090,1011009,2015-02-23 05:05:44.000,05290170*03015749*051914190353*09400015*G1*BDR*,79642446,6X1u13D1500000000,CMMNS,0,5246,0,...,-74.087777,742.525308,759.695527,583.314919,17736,IgnStatus,False,2090,2015-02-23,05:08:23
5,2090,1011009,2015-02-23 05:05:44.000,05290170*03015749*051914190353*09400015*G1*BDR*,79642446,6X1u13D1500000000,CMMNS,0,5246,0,...,-74.087777,742.525308,759.695527,583.314919,17737,FuelLtd,33470.466902374,2090,2015-02-23,05:08:23
6,2090,1011009,2015-02-23 05:05:44.000,05290170*03015749*051914190353*09400015*G1*BDR*,79642446,6X1u13D1500000000,CMMNS,0,5246,0,...,-74.087777,742.525308,759.695527,583.314919,17738,EngineTimeLtd,4645.45,2090,2015-02-23,05:08:23
7,2090,1011009,2015-02-23 05:05:44.000,05290170*03015749*051914190353*09400015*G1*BDR*,79642446,6X1u13D1500000000,CMMNS,0,5246,0,...,-74.087777,742.525308,759.695527,583.314919,17739,LampStatus,22527,2090,2015-02-23,05:08:23
8,2972,1026305,2015-02-23 15:54:22.000,unknown,unknown,unknown,unknown,0,5246,0,...,-81.897083,611.269015,582.335302,564.311812,25574,IgnStatus,True,2972,2015-02-23,15:54:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10968,1242137,121038018,2020-02-14 11:21:54.000,NaN,NaN,NaN,NaN,49,5246,19,...,-85.708425,162.440819,194.701771,203.877088,12803378,CruiseControlActive,False,1242137,2020-02-14,11:22:30
10969,1242137,121038018,2020-02-14 11:21:54.000,NaN,NaN,NaN,NaN,49,5246,19,...,-85.708425,162.440819,194.701771,203.877088,12803379,CruiseControlSetSpeed,0,1242137,2020-02-14,11:22:30
10970,1242137,121038018,2020-02-14 11:21:54.000,NaN,NaN,NaN,NaN,49,5246,19,...,-85.708425,162.440819,194.701771,203.877088,12803380,EngineCoolantTemperature,17.6,1242137,2020-02-14,11:22:30
10971,1242137,121038018,2020-02-14 11:21:54.000,NaN,NaN,NaN,NaN,49,5246,19,...,-85.708425,162.440819,194.701771,203.877088,12803381,ParkingBrake,True,1242137,2020-02-14,11:22:30
10972,1242137,121038018,2020-02-14 11:21:54.000,NaN,NaN,NaN,NaN,49,5246,19,...,-85.708425,162.440819,194.701771,203.877088,12803382,DistanceLtd,334736.2,1242137,2020-02-14,11:22:30

In [338]:
full_derates['event_time_stamp'] = pd.to_datetime(full_derates['EventTimeStamp'])

In [339]:
full_derates['event_date'] = full_derates['event_time_stamp'].dt.date

In [340]:
full_derates['event_time'] = full_derates['event_time_stamp'].dt.time

In [341]:
full_derates = full_derates.drop(columns =(['event_time_stamp', 'EventTimeStamp']))

In [342]:
full_derates

,RecordID,ESS_Id,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,...,Distance_B,Distance_C,Id,Name,Value,FaultId,location_date,location_time,event_date,event_time
4,2090,1011009,05290170*03015749*051914190353*09400015*G1*BDR*,79642446,6X1u13D1500000000,CMMNS,0,5246,0,True,...,759.695527,583.314919,17736,IgnStatus,False,2090,2015-02-23,05:08:23,2015-02-23,05:05:44
5,2090,1011009,05290170*03015749*051914190353*09400015*G1*BDR*,79642446,6X1u13D1500000000,CMMNS,0,5246,0,True,...,759.695527,583.314919,17737,FuelLtd,33470.466902374,2090,2015-02-23,05:08:23,2015-02-23,05:05:44
6,2090,1011009,05290170*03015749*051914190353*09400015*G1*BDR*,79642446,6X1u13D1500000000,CMMNS,0,5246,0,True,...,759.695527,583.314919,17738,EngineTimeLtd,4645.45,2090,2015-02-23,05:08:23,2015-02-23,05:05:44
7,2090,1011009,05290170*03015749*051914190353*09400015*G1*BDR*,79642446,6X1u13D1500000000,CMMNS,0,5246,0,True,...,759.695527,583.314919,17739,LampStatus,22527,2090,2015-02-23,05:08:23,2015-02-23,05:05:44
8,2972,1026305,unknown,unknown,unknown,unknown,0,5246,0,True,...,582.335302,564.311812,25574,IgnStatus,True,2972,2015-02-23,15:54:58,2015-02-23,15:54:22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10968,1242137,121038018,NaN,NaN,NaN,NaN,49,5246,19,True,...,194.701771,203.877088,12803378,CruiseControlActive,False,1242137,2020-02-14,11:22:30,2020-02-14,11:21:54
10969,1242137,121038018,NaN,NaN,NaN,NaN,49,5246,19,True,...,194.701771,203.877088,12803379,CruiseControlSetSpeed,0,1242137,2020-02-14,11:22:30,2020-02-14,11:21:54
10970,1242137,121038018,NaN,NaN,NaN,NaN,49,5246,19,True,...,194.701771,203.877088,12803380,EngineCoolantTemperature,17.6,1242137,2020-02-14,11:22:30,2020-02-14,11:21:54
10971,1242137,121038018,NaN,NaN,NaN,NaN,49,5246,19,True,...,194.701771,203.877088,12803381,ParkingBrake,True,1242137,2020-02-14,11:22:30,2020-02-14,11:21:54
10972,1242137,121038018,NaN,NaN,NaN,NaN,49,5246,19,True,...,194.701771,203.877088,12803382,DistanceLtd,334736.2,1242137,2020-02-14,11:22:30,2020-02-14,11:21:54

In [343]:
full_derates.to_csv('data/full_derates.csv')

In [113]:
#full_derates_A = full_derates.loc[(full_derates['Distance_A'] <= .5)]

In [114]:
#full_derates_B = full_derates.loc[(full_derates['Distance_B'] <= .5)]

In [115]:
#full_derates_C = full_derates.loc[(full_derates['Distance_C'] <= .5)]

In [ ]:
from datetime import datetime

def extract_datetime(date_string):
    return datetime.strptime(date_string, '%Y-%m-%d %H:%M:%S.%f')

# apply the function to the 'datetime' column using apply() and a lambda function
full_derates['EventTimeStamp'].apply(lambda x: extract_datetime(x))

In [ ]:
# Pivot the dataframe so each FaultId is one row
onboard = pd.pivot(onboard, index = ['FaultId'], values = 'Value', columns = ['Name']).reset_index()

onboard.info()

In [ ]:
fault_code

In [ ]:
# Filter down to only include full derates
full_derates = on_faults.loc[on_faults['spn'] == 5246]

# Get rid of the rows where the EquipmentID is more than 5 characters
full_derates = full_derates.loc[full_derates['EquipmentID'].astype(str).str.len() <= 5]

# Filter out faults where the light is going off
full_derates = full_derates.loc[on_faults['active'] == True].reset_index(drop = True)


full_derates

In [ ]:
def filter_by_distance(latlongtest):
    """Add a new column to a DataFrame indicating whether each point
    is within a specified distance (in miles) from any of a list of reference points."""
    locations = [(-86.4347222, 36.0666667), (-86.4438888, 35.5883333), (-83.174722, 36.1950)]
    for location in locations:
        point = Point(location[1], location[0])
        dist_col_name = f'dist_from_{location[1]}_{location[0]}'   #euclidian distance.  Include later if you want.
        latlongtest[dist_col_name] = latlongtest.apply(lambda row: point.distance(Point(row['Longitude'], row['Latitude'])), axis=1)
        latlongtest[f'within_0.5mi_{location[1]}_{location[0]}'] = latlongtest[dist_col_name] < 0.01
    return latlongtest

filter_by_distance(latlongtest)